/* 모든 문자열 가운데 정렬 */
* {
    text-align: center;
}

/* 수정할 수 없는 글자들 드래그 방지 */
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 자주 사용하는 색상 정의 */
:root {
    --border-color: rgb(240, 240, 240);
    --border-color-hover: rgb(200, 200, 200);
    --background-color: rgb(220, 220, 220);
    --background-color-hover: rgb(180, 180, 180);
    --mine-background-color: rgb(200, 200, 200);
}

/* 튀어나온 모양 */
.border-outset {
    background-color: var(--background-color);
    border: 5px outset var(--border-color);
}

/* 안쪽으로 들어간 모양 */
.border-inset {
    background-color: var(--background-color);
    border: 5px inset var(--border-color);
}

/* 게임 화면 */
#game-panel {
    /* 내용물 크기에 맞춤 */
    width: fit-content;
    padding: 10px;

    /* 중앙 정렬 */
    margin: auto;

    /* 게임 제어판 */
    #controller {
        margin-bottom: 10px;

        /* '게임 모드', '게임 크기', '지뢰 개수' 레이블 */
        .controller-text {
            cursor: default;
        }

        /* 입력 박스 */
        select,
        input {
            /* box 크기가 border, padding 등으로 바뀌는 것 방지 */
            box-sizing: border-box;
            width: 90px;
            height: 30px;
            margin: 5px;
            font-size: 18px;
            cursor: pointer;

            /* 입력 박스에 마우스 올림 */
            &:hover {
                border-color: var(--border-color-hover);
                background-color: var(--background-color-hover);
            }
        }

        /* 선택 입력 박스 선택 */
        select:focus {
            border-color: var(--border-color);
            background-color: var(--background-color);
        }
    }

    /* 게임 정보(남은 지뢰, 시작 버튼, 플레이 시간) */
    #game-info {
        margin-bottom: 10px;
        padding: 4px 10px;

        /* 게임 정보를 양쪽 끝, 가운데 배치 */
        display: flex;
        justify-content: space-between;

        /* 시작 버튼 */
        #btn-start {
            width: 35px;
            height: 35px;
            margin: 0px 10px;
            /* 마우스를 선택하는 모양으로 */
            cursor: pointer;
            background-image: url("../images/game_play.png");
            background-size: cover;
            /* 시작 버튼에 마우스를 올렸을 경우 */
            &:hover {
                border-color: var(--border-color-hover);
                background-color: var(--background-color-hover);
            }

            /* 시작 버튼 클릭 */
            &.clicked {
                border: 5px inset var(--border-color);
            }

            /* 게임 칸을 눌렀을 때 시작 버튼이 놀라는 표정 */
            &.surprised {
                background-image: url("../images/game_click.png");
            }

            /* 게임 실패 */
            &.fail {
                background-image: url("../images/game_fail.png");
            }

            /* 게임 클리어 */
            &.clear {
                background-image: url("../images/game_clear.png");
            }
        }

        /* 남은 지뢰, 플레이 시간 */
        .display {
            font-family: "consolas";
            color: rgb(255, 30, 30);
            font-size: 30px;
            background-color: black;
            font-weight: bold;
            padding: 0px 10px;
            cursor: default;
        }
    }
}

/* 2차원 배열의 각 배열 별 ul */
.sweeper-ul {
    padding: 0;
    margin: 0;

    li.row .sweeper-ul {
        display: flex;
    }
}

/* 2차원 배열의 각 배열 별 li */
.sweeper-li {
    list-style: none;
    height: 30px;
    width: 30px;
    background-color: var(--background-color);
    border: 3px outset var(--border-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    /* 클릭 가능한 칸에 마우스 올림 */
    &:hover:not(.mine, .open-near-mine, .open-disable) {
        border-color: var(--border-color-hover);
        background-color: var(--background-color-hover);
        cursor: pointer;
    }

    /* 칸 클릭 */
    &.clicked {
        border: 3px inset var(--border-color);
    }
}

/* 깃발이 있는 칸 */
.flag {
    background-image: url("../images/flag.png");
    background-size: cover;
}

/* 지뢰가 있는 칸 */
.mine {
    background-image: url("../images/mine.png");
    background-size: cover;

    /* 지뢰를 클릭하면 배경색을 빨간색으로 변경 */
    &.exploded {
        background-color: red;
    }
}

/* 지뢰 근처 숫자가 있는 칸 */
.open-near-mine {
    background-color: var(--mine-background-color);
    border: 1px inset white;
    font-weight: bold;
    font-family: "consolas";
    font-size: 25px;
}

/* 지뢰가 없는 칸, 지뢰 근처 숫자가 있는 칸 */
.open-disable,
.open-near-mine {
    cursor: default;
}

/* 지뢰가 있는 칸, 지뢰 근처 숫자가 없는 칸 */
.open-disable,
.mine {
    background-color: var(--mine-background-color);
    border: 1px inset white;
}

/* 게임 종료 오버레이 */
#overlay-gameover {
    &.overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;

        /* 맨 앞에 오게 하기 */
        position: fixed;
        z-index: 9999; /* z-index는 position이 static 유형이 아닐때만 동작 */
    }

    .content {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    &.message {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }

    &.button {
        margin-top: 10px;
        padding: 12px;
        width: 120px;
        height: 36px;
        border: 0;
        border-radius: 5px;
    }
}
